@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&family=Red+Hat+Mono:ital,wght@1,700&family=Varela+Round&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    overflow-x:hidden ;
    scroll-behavior: smooth;
}
.header{
    position: fixed;
    z-index: 1000;
    background-color: #41729F;
    height: 70px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    overflow-y: hidden;
}
.header-content{
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 23px;
}
.header-title{
    padding-left:1.5em ;
}
.header-ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-li{
    width: 100%;
    padding: 0 1em;
}
.header-a{
    letter-spacing: 0.4px;
    font-weight: 550;
    font-size: large;
    text-decoration: none;
    color: #000;
}
.header-li:hover{
    color: rgb(231, 231, 231);
}
.main{
    padding: 2.5em 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.main-content{
    color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
}
.main-text{
    padding-bottom: 6em;
}
.main-title{
    font-size: x-large;
}
.main-title>span{
    font-size: larger;
    font-weight: bolder;
    color:#41729F;
}
.main-subtitle{
    font-weight: 200;
    padding-bottom: 1em;
}
.main-animation{
    height: 40px;
    position: absolute;
    overflow: hidden;
}
.main-animation-text{
    user-select: none;
    font-weight: 200;
    padding: 0.4em 0;
}
.main-animation-text:first-child{
    animation: anim 8s infinite;
}
@keyframes anim{
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -40px;
    }
    50%{
        margin-top: -80px;
    }
    75%{
        margin-top: -40px;
    }
    100%{
        margin-top: 0px;
    }
    
}
.fa-brands{
    color: rgb(231, 231, 231);
    font-size: 40px;
}
.fa-linkedin{
    padding-right: 0.5em  
}
.button{
    cursor: pointer;
    font-family: 'IBM Plex Sans Arabic';
    font-weight: 200;
    font-size: large;
    background-color:rgb(231, 231, 231);
    margin: 10px 0;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: none;
}
.button:hover{
    background-color: #41729F;
    transition: background-color 0.5s ease;
    color:rgb(231, 231, 231);
}
.fa-download{
    padding-left: 0.5em;
    position: relative;
    bottom: -2px;
}
.main-img{
    width: 360px;
    z-index: 10;
}
.skills{
    position: relative;
    z-index: 10;
    height: 100vh;
    background: url(img/waves.svg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; 
}
.skills-title, .projects-title{
    user-select: none;
    padding-top: 45px;
    font-weight: 900;
    font-size: 30px;
}
.skills-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 10px;
}
.skills-card{
    background-color: rgb(231, 231, 231);
    margin: 0.5em;
    height: 100px;
    width: 250px;
    border-radius: 5px;
    display: flex;
    flex: 33.33%;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 7px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 7px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 7px -3px rgba(0,0,0,0.75);
}
.skills-card>i{
    user-select: none;
    color: #000;
    font-size: 60px;
}
.projects{
    object-fit: cover;
    height: 100vh;
    background: url(img/project.svg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.projects-title{
    color: rgb(231, 231, 231);
}
.projects-container{
    width: 600px;
    height: 75%;
}
.projects-body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.projects-body-img{
    object-fit: cover;
    width: 380px;
    height: 270px;
}
.projects-data{
    color: rgb(231, 231, 231);
    height: 50%;
    overflow: hidden;
    width: 380px;
    margin-bottom: 1em;
}
.project-data-title{
    padding: 0.5em 0;
}
.project-data-span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding-top: 1em;
    font-size: medium;
}
.project-data-button{
    font-family: 'IBM Plex Sans Arabic';
    font-weight: 200;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    padding: 3px 10px;
    height: 35px;
    width: 100px;
    margin-left: 0.5em;
    color: rgb(231, 231, 231);
    background-color: #41729F;
}
.project-data-button:hover{
    background-color: rgb(231, 231, 231);
    color: #41729F;
    font-weight: bolder;
    transition: background-color 0.5s ease;
}
.swiper-button-next, .swiper-button-prev{
    top: 40% !important;
}
.swiper-pagination{
    bottom: -5px;
}
.contact{
    user-select: none;
    background: linear-gradient(90deg, #951bda, #d792fd, #9cadc8);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.form{
    width: 400px;
    height: 100%;
    padding-top:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-title{
    text-shadow: 1px 1px 0px #fff;
    user-select: none;
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 2em;
}
.form-label{
    font-weight: 600;
}
.input{
    padding-left: 2.2em;
    margin-bottom: 1em;
    height: 2.5em;
}
.textArea{
    resize: none;
    padding: 0 0 0 0.5em;
    margin-top: 1.5em;
}
.input,.textArea{
    outline: none;
    border: none;
    border-radius: 5px;
}
.icon-user,.icon-email{
    position: relative;
    color: #969ba0;
}
.icon-user{
    top: 23px;
    right: 115px;
}
.icon-email{
    top: 24px;
    right: 115px;
}
.contact-img{
    object-fit: cover;
    height: 400px;
    width: 450px;
}
.scroll-up{
    position: fixed;
    right: 2.5em;
    bottom: -20%;
    background-color:#41729F;
    opacity: 0.9;
    border-radius: 0.5em;
    height: 40px;
    width: 40px;
    z-index: 3000;
    transition: all .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.scroll-icon{
    color: rgb(231, 231, 231);
    font-size: 2em;
}
.scroll-icon:hover{
    font-size: 2.5em;
    transition: .05s;
    color: rgb(231, 231, 231);
}
.scroll-show{
    bottom: 3em;
}

/* Media queries */
@media screen and (max-width: 1024px) and (max-height: 768px) {
    .skills-container{
        width: 90%;
        flex-direction: row;
    }
}
@media screen and (max-width: 768px) and (max-height: 1024px){
    .main{
        flex-direction: column-reverse;
    }
    .contact{
        flex-direction: column-reverse;
    }
    .form{
        padding-top: 0;
        height: 50%;
    }
    .contact-img{
    object-fit: contain;
    height: 300px;
    width: 400px;
    }
    .skills-title{
        padding-top: 0;
        font-size: 20px;
        height: 40px;
    }
    .skills-container{
        width: 90%;
        flex-direction: row;
        height: 60%;
    }
    .swiper-pagination{
        display: none;
    }
    .form-title{
        font-size: 20px;
        height: 40px;
        padding-bottom: 0;
    }
    .textArea{
        height: 60px;
        width: 80%;
    }   
}
@media screen and (max-width: 568px) and (max-height: 920px){
    .header{
        display: none;
    }
    .projects{
        height: 100vh;
    }
    .swiper{
        width: 100%;
    }
    .swiper-button-next,.swiper-button-prev{
        display: none !important;
    }
    .projects-body-img{
        width: 280px;
        height: 200px;
    }
    .projects-data{
        width: 80%;
    }
}
@media screen and (max-width: 480px) and (max-height: 320px){
    .header{
        display: none;
    }
    .main{
        height: 100%;
    }
    .main-img{
        width: 50%;
    }
    .skills{
        height: 100%;
    }
    .swiper{
        width: 100%;
    }
    .swiper-button-next,.swiper-button-prev{
        display: none !important;
    }
    .projects{
        height: 100%;
    }
    .projects-body-img{
        width: 280px;
        height: 200px;
    }
    .projects-data{
        width: 80%;
    }
    .contact{
        justify-content: flex-end;
    }
    .contact-img{
        display: none;
    }
    .form{
        height: 100%;
        padding-top: 30px;
        width: 80%;
    }
    .icon-user{
        top: 17px
    }
    .icon-email{
        top: 19px
    }
}
@media screen and (max-width: 320px) and (max-height: 400px){
    .header{
        display: none;
    }
    .main{
        height: 100%;
    }
    .main-img{
        width: 50%;
    }
    .skills{
        height: 100%;
    }
    .projects{
        height: 100%;
    }
    .swiper{
        width: 100%;
    }
    .swiper-button-next,.swiper-button-prev{
        display: none !important;
    }
    .projects-body-img{
        width: 280px;
        height: 200px;
    }
    .projects-data{
        width: 80%;
    }
    .contact{
        justify-content: flex-end;
    }
    .contact-img{
        display: none;
    }
    .form{
        height: 100%;
        padding-top: 30px;
        width: 80%;
    }
}
@media screen and (max-width: 380px) and (max-height: 700px){
    .main{
        height: 100%;
    }
    .main-img{
        width: 50%;
    }
    .skills{
        height: 100%;
    }
    .form{
        width: 100%;
        height: 60%;
    }
    .contact-img{
        height: 30%;
    }
    .input{
        padding-left: 4em;
    }
}
@media screen and (min-width: 290px) and (min-height: 330px){
    .main{
        height: 100%;
    }
    .main-img{
        width: 50%;
    }
    .contact{
        height: 100%;
    }
}
/* ---- particles.js container ---- */
.particles-js-canvas-el{
position: absolute;
z-index: 1;
}
#particles-js{
background: linear-gradient(90deg, #22212a 0%, #2c2c4a 38%, #17444e 100%);
background-position: 50% 50%;
background-repeat: no-repeat;
}
  